.list * {
  display: block;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
}

.list .list__item .title {
  cursor: pointer;
  font-weight: 700;
  font-size: 19px;
}

.list .list__item .title::before {
  content: "+";
  display: inline-block;
  width: 10px;
}

.list .list__item.active > .title::before {
  content: "-";
}
